body {
    background-color: #025aa5;
}

.postname{
  color: white;
}

.nn{
  color: white;
}

.listcss{
  margin: 20px;
}
form a {
  margin-left: 100px;
}

.btn{
  margin-top: 40px;
  margin-left: 80px;
}
